<h1>Welcome to your stable!</h1> 

<img 
src="/images/stable.jpeg" 
class="img-responsive stable-image"
title="stable"
width="40%" 
height="20%"
>

<br><br><br><br>
<% if @horses.count >= 1 %>
    <h1><%= @user.name %>'s horses: </h1>
        <ol>
        <% @horses.each do |horse| %>
                <%= link_to "#{horse.name}", horse_path(horse) %> <br>
        <% end %>
        </ol>
        You currently have <%= "#{@horses.count}" %> horses <br><br>
        
    <%= link_to 'See your shows', user_shows_path(@user) %>
    
    <% else %>

    You currently have no horses.


    <% end %>
    
<p><%= link_to 'Add a Horse', new_horse_path %></p><br><br>

<%= link_to "Your Profile", user_path(@user), class: 'navbar-brand' %><br><br>