<br><br>
<h1><%= @horse.name %></h1>
<p><strong>Level: </strong><%= @horse.level %></p>
<p><strong>Height in hands: </strong><%= @horse.height %></p>
<p><strong>Age: </strong><%= @horse.age %></p>
<p><strong>Breed: </strong><%= @horse.breed %></p>
<p><strong>Colour: </strong><%= @horse.colour %></p>

<h2> Shows </h2>
<p><%= @horse.name %> is in the following shows by <%= @user.name %>:  

    <% if @user.shows.count >= 1 %>

<% @horse.shows.each do |show| %>
    <h4>Title: <%= show.title %></h4>
<ul>
    <li>Location:<%= show.location %></li>
    <li>Discipline:<%= show.discipline %></li>
    <li>Level:<%= show.level %></li>
    <li>Entry_fee: <%= show.entry_fee %></li>
    <li>Rider:  <%= link_to show.user.name, user_path(show.user) %></li>
</ul>
    <% end %><br><br>

    <% else %>

    You currently have no shows.
    
    
    <% end %>


    <p>Enter <%= @horse.name %> in a new show: </p>
    <%= form_for(@show, url: shows_path) do |f| %>
        Title: <%= f.text_field :title %><br>
        Location: <%= f.text_field :location %><br>
        Discipline: <%= f.text_field :discipline %><br>
        Level: <%= f.number_field :level %><br>
        Entry_fee: <%= f.number_field :entry_fee %><br>
        <%= f.hidden_field :user_id, value: @user.id %><br />
        <%= f.hidden_field :horse_id, value: @horse.id %><br />
        <%= f.submit %>
    <% end %>

    <br><br><br><br>

    <p><%= link_to 'Edit Horse', [:edit, @horse] %></p><br><br>

    <%= link_to "Your Profile", user_path(@user), class: 'navbar-brand' %><br><br>

