<h1> Edit <%=@user.name%>'s details:  </h1>
<%= form_for @user do |f| %>
    Country: <%= f.text_field :country %><br><br>
    Level: <%= f.number_field :level %><br><br>
    <%= f.submit %>
<% end %>