<h1> User's index page </h1>
<p><strong>Name: </strong><%= @user.name %></p>
<p><strong>Country: </strong><%= @user.country %></p>
<p><strong>Level: </strong><%= @user.level %></p><br><br><br>
<p><%= link_to "Edit your user details", [:edit, @user] %></p>
<%= link_to "See your horses", horses_path %>
    <p><%= link_to 'See your shows', user_shows_path(@user) %></p>
<% flash.each do |type, msg| %>
    <%= msg %>
<% end %>