<h1> User's show page </h1>
<p><strong>Name: </strong><%= @user.name %></p>
<p><strong>Country: </strong><%= @user.country %></p>
<p><strong>Level: </strong><%= @user.level %></p>
<p><%= link_to "Edit User", [:edit, @user] %></p>
<%= link_to "See your horses", horses_path %>
<% flash.each do |type, msg| %>
    <%= msg %>
<% end %>



