<h2><%= @user.name %>'s shows: </h2>
<ol>
    <% @shows.each do |show| %>
        <ol>
        <h3>Title: <%= show.title %></h4>
        <h4>Location: <%= show.location %><br>
        Discipline: <%= show.discipline %><br>
        Level: <%= show.level %><br>
        Entry_fee: <%= show.entry_fee %><br>
        </h4><br><br>
    </ol>
    <% end %>
</ol>

