<h2><%= @user.name %>'s shows: </h2>
<% if @user.shows.count >= 1 %>

<ol>
    <% @shows.each do |show| %>
        <ol>
        Rider:  <%= link_to show.user.name, user_path(show.user) %>
        Horse:  <%= link_to show.horse.name, horse_path(show.horse) %> <br><br>
        <b>Show Title: <%= show.title %></b><br>
        Location: <%= show.location %><br>
        Discipline: <%= show.discipline %><br>
        Level: <%= show.level %><br>
        Entry_fee: <%= show.entry_fee %><br>
        <br><br>
    </ol>
    <% end %>
</ol>
<% else %>

You currently have no shows.


<% end %>
<br><br>

    <%= link_to "Your Profile", user_path(@user), class: 'navbar-brand' %><br><br>