<h1>Welcome to the Horse Shows app <%= @user.name %>!</h1>

<p> Here are your horses: <%= @user.name %>
<% @user.horses.each do |horse| %>
    <div>
      <%= horse.name %>
    </div>
  <% end %>

  <p> Here are the shows you have entered: <%= @user.name %>
  <% @user.shows.each do |show| %>
    <div>
      <%= show.title %>
    </div>
  <% end %>